<% layout("layouts/boilerplate") %>


        <div class="icons" id="filters">
            <div class="filter" id="trending">
                <a href="/listings/category/trending"> 
                <div><i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
                </a>
            </div>

            <div class="filter" id="rooms">
                <a href="/listings/category/rooms"> 
                <div><i class="fa-solid fa-bed"></i></div>
                <p>Rooms</p>
                </a>
            </div>

            <div class="filter" id="iconic-cities">
                <a href="/listings/category/iconic-cities"> 
                <div><i class="fa-solid fa-city"></i></div>
                <p>Iconic Cities</p>
                </a>
            </div>

            <div class="filter" id="mountains">
                <a href="/listings/category/mountains"> 
                <div><i class="fa-solid fa-mountain"></i></div>
                <p>Mountains</p>
                </a>
            </div>

            <div class="filter" id="castles">
                <a href="/listings/category/castles"> 
                <div><i class="fa-brands fa-fort-awesome"></i></div>
                <p>Castles</p>
                </a>
            </div>

            <div class="filter" id="camping">
                <a href="/listings/category/camping"> 
                <div><i class="fa-solid fa-campground"></i></div>
                <p>Camping</p>
                </a>
            </div>

            <div class="filter" id="farms">
                <a href="/listings/category/farms"> 
                <div><i class="fa-solid fa-cow"></i></div>
                <p>Farms</p>
                </a>
            </div>

            <div class="filter" id="arctic">
                <a href="/listings/category/arctic"> 
                <div><i class="fa-solid fa-snowflake"></i></div>
                <p>Arctic</p>
                </a>
            </div>

            <div class="filter" id="domes">
                <a href="/listings/category/domes"> 
                <div><i class="fa-solid fa-igloo"></i></div>
                <p>Domes</p>
                </a>
            </div>

            <div class="filter" id="boat">
                <a href="/listings/category/boat"> 
                <div><i class="fa-solid fa-ship"></i></div>
                <p>Boat</p>
                </a>
            </div>

            <div class="tax-toggle">
                <div class="form-check form-switch form-check-reverse">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
                </div>
            </div>
        </div>
<div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 mt-3" id="listing-container" class="listings">


            <% if(listings.length === 0) {  %>
                <div class="cato">
                    <p>Now this time, for &nbsp; <b><%= category %></b> &nbsp; category are  not avaliable </p>
                    <p><b>Please try to find another category </b></p>
                    <p> We will definatly try to <u>add this category for you.</u> </p>
                </div>

            <% } else {  %>
            <% for(let list of listings){ %>
                <a class="listing-link" href="/listings/<%= list._id %>">
                    <div class="card col listing-card" data-category="<%= list.category %>">
                        <img class="card-img-top" src="<%= list.image.url %>" alt="Card image cap" style="height: 20rem;">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b><%= list.title %></b> <br>

                                &#8377;
                                <b><span class="base-price"><%= list.price.toLocaleString("en-IN") %></span> / Night</b>

                                <!-- <i class="tax-info"> &nbsp;&nbsp;+18% GST</i> -->

                                <br>

                                <span class="price-after-tax" style="display: none;">
                                    &#8377; <%= Math.round(list.price * 1.18).toLocaleString("en-IN") %> (Incl. GST)
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            <% } %>
        <% } %>
    </div>


    
<script>
    document.getElementById('flexSwitchCheckDefault').addEventListener('change', async function () {
        const isChecked = this.checked;

        const priceTags = document.querySelectorAll('.card');

        if (isChecked) {
            try {
                const response = await fetch('/listings/toggle-tax');
                const data = await response.json();

                data.forEach(item => {
                    const card = document.querySelector(`.card[href="/listings/${item.id}"]`) || 
                                 [...document.querySelectorAll('.listing-link')].find(link => link.href.includes(item.id))?.querySelector('.card');

                    if (card) {
                        const priceAfterTaxSpan = card.querySelector('.price-after-tax');
                        priceAfterTaxSpan.innerHTML = `&#8377; ${item.priceWithGST} <small>(Incl. 18% GST)</small>`;
                        priceAfterTaxSpan.style.display = 'inline';
                    }
                });

                // Hide "+18% GST" inline text if needed
                document.querySelectorAll('.tax-info').forEach(el => el.style.display = 'none');
            } catch (error) {
                console.error('Failed to load GST prices:', error);
            }
        } else {
            document.querySelectorAll('.price-after-tax').forEach(span => span.style.display = 'none');
            document.querySelectorAll('.tax-info').forEach(el => el.style.display = 'inline');
        }
    });
</script>
